In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
#database connection settings
import psycopg2
import pandas as pd

db_name = "traviato_development"
db_host = "localhost"
db_port = "5432"
db_user = "lievgarcia"
db_pwd = "traviato81"

conn = psycopg2.connect(database=db_name, user=db_user, password=db_pwd, host=db_host, port=db_port)

cursor = conn.cursor()  
query = "select id, name, url from composers c ORDER BY name"
cursor.execute(query)
c_df = pd.DataFrame(cursor.fetchall(), columns=['id', 'name', 'url'])

In [ ]:
# c_df[c_df['url'].isna()].head()

In [ ]:
#################### ENHANCE WITH WIKIDATA LINKS ####################
import requests
import urllib.parse

def url_text(text):
    return urllib.parse.quote_plus(text)

endpoint = "https://www.wikidata.org/w/api.php"
params = "?language=en&format=json"
action = "&action=wbsearchentities&search="

print(c_df.shape)
c_df = c_df[c_df['url'].isna()]
print(c_df.shape)

for idx,row in c_df.iterrows():
    query  = url_text(row['name'])
    itemsearch = requests.get(endpoint + params + action + query)
    itemsearch = itemsearch.json()
    try:
        uri = itemsearch['search'][0]['id']
        url = itemsearch['search'][0]['concepturi']
        
        update = "UPDATE COMPOSERS "
        values = "SET URI = '" + uri + "', URL = '" +  url + "' "
        where  = "WHERE id = " + str(row['id']) + "; "
        commit = "COMMIT;"
        print(update + values + where + commit)    
        cursor.execute(update + values + where + commit)        
    except:
        None
####################################################################

In [4]:
#################### UPDATE COMPOSER ATTRIBUTES ####################

import psycopg2
import pandas as pd

db_name = "traviato_development"
db_host = "localhost"
db_port = "5432"
db_user = "lievgarcia"
db_pwd = "traviato81"

conn = psycopg2.connect(database=db_name, user=db_user, password=db_pwd, host=db_host, port=db_port)

attribute = 'premiere_date'
attribute_id = 'P1249' #, 1249

cursor = conn.cursor()  
query = "select id, name, uri from works c WHERE " + attribute + " IS NULL ORDER BY name"
cursor.execute(query)
c_df = pd.DataFrame(cursor.fetchall(), columns=['id', 'name', 'uri'])
c_df = c_df[~c_df['uri'].isna()]
print(c_df.shape)

from wikidata.client import Client
client = Client()

for idx,row in c_df.iterrows():
    
    try:    
        
        entity    = client.get(row['uri'], load=True)
        name      = str(entity.label)
        attr_prop = client.get(attribute_id)
        try:            
            #for strings
    #         attr = str(entity[attr_prop].label).title()
            #for dates
            attr = str(entity[attr_prop].year)
        except:
            attr = entity.attributes['claims'][attribute_id][0]['mainsnak']['datavalue']['value']['time'][1:5]            
        
#         entity    = client.get(row['uri'], load=True)
#         attr_id   = entity.id
#         attr_prop = client.get(attribute_id)
#         attr      = str(entity[attr_prop].id)
    
#         entity    = client.get(attr, load=True)
#         name      = str(entity.label)
#         attr_prop = client.get('P17')     
#         attr      = str(entity[attr_prop].label).title()

        update = "UPDATE WORKS "
        values = "SET " + attribute + " = '" + attr.replace("'", "''") + "' "
        where  = "WHERE id = " + str(row['id']) + "; "
        commit = "COMMIT;"
        print(update + values + where + commit)    
        cursor.execute(update + values + where + commit)    
    except:
        None

(6640, 3)

In [36]:
from bs4 import BeautifulSoup
import requests, urllib
from datetime import datetime

headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 6.0; WOW64; rv:24.0) Gecko/20100101 Firefox/24.0' }
base_url = 'http://operadata.stanford.edu/?utf8=%E2%9C%93&utf8=%E2%9C%93&search_field=title&'

#################### UPDATE COMPOSER ATTRIBUTES ####################
import psycopg2
import pandas as pd

db_name = "traviato_development"
db_host = "localhost"
db_port = "5432"
db_user = "lievgarcia"
db_pwd = "traviato81"

conn = psycopg2.connect(database=db_name, user=db_user, password=db_pwd, host=db_host, port=db_port)
#######################################################################

cursor = conn.cursor()  
query = "select id, name, uri from works c WHERE " + attribute + " IS NULL ORDER BY name"
cursor.execute(query)
c_df = pd.DataFrame(cursor.fetchall(), columns=['id', 'name', 'uri'])
print(c_df.shape)

for idx,row in c_df.iterrows():
    
    if idx%250==0:
        print(idx)
        
    params = {
        'q':row['name']
    }
    
    try:
        params = urllib.parse.urlencode(params)
        params = params.replace('+', '-')
        url = base_url + params
#         print(url)
    except:
        None
        
    r  = requests.get(url, headers=headers)
    soup = BeautifulSoup(r.text, "html5lib")
    results = soup.find(attrs={'class': 'document-metadata dl-horizontal dl-invert'})
    match=False
    if results:
        for item in list(zip(results.find_all("dt"),results.find_all("dd"))):
            if item[0].get_text()=='Year:':
                year = item[1].get_text()
            if item[0].get_text()=='Title:' and item[1].get_text().lower()==row['name'].lower():
                match=True
    
    if match==True:
                update = "UPDATE WORKS "
                values = "SET premiere_date = '" + str(year) + "' "
                where  = "WHERE id = " + str(row['id']) + "; "
                commit = "COMMIT;"
                print(update + values + where + commit)    
                cursor.execute(update + values + where + commit)

(4352, 3)
0
250
500
750
1000
1250
1500
1750
2000
2250
2500
2750
UPDATE WORKS SET premiere_date = '1783' WHERE id = 1741; COMMIT;
UPDATE WORKS SET premiere_date = '1783' WHERE id = 16892; COMMIT;
UPDATE WORKS SET premiere_date = '1783' WHERE id = 1176; COMMIT;
UPDATE WORKS SET premiere_date = '1783' WHERE id = 1514; COMMIT;
UPDATE WORKS SET premiere_date = '1783' WHERE id = 3197; COMMIT;
UPDATE WORKS SET premiere_date = '1689' WHERE id = 16893; COMMIT;
UPDATE WORKS SET premiere_date = '1959' WHERE id = 8617; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 21760; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22834; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 22883; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 21720; COMMIT;
UPDATE WORKS SET premiere_date = '1949' WHERE id = 20513; COMMIT;
UPDATE WORKS SET premiere_date = '1949' WHERE id = 21989; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 2917; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22778; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22805; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 16909; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 23175; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 21325; COMMIT;
UPDATE WORKS SET premiere_date = '1765' WHERE id = 11781; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22933; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22556; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23062; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 22120; COMMIT;
UPDATE WORKS SET premiere_date = '1782' WHERE id = 8627; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22972; COMMIT;
UPDATE WORKS SET premiere_date = '1918' WHERE id = 16927; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22817; COMMIT;
UPDATE WORKS SET premiere_date = '1857' WHERE id = 4833; COMMIT;
UPDATE WORKS SET premiere_date = '1999' WHERE id = 22740; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 21336; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 21337; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22934; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 23031; COMMIT;
UPDATE WORKS SET premiere_date = '1988' WHERE id = 20737; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 2802; COMMIT;
UPDATE WORKS SET premiere_date = '1904' WHERE id = 4543; COMMIT;
UPDATE WORKS SET premiere_date = '1900' WHERE id = 16965; COMMIT;
UPDATE WORKS SET premiere_date = '1845' WHERE id = 11337; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 21343; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22815; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22813; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 21982; COMMIT;
3000
UPDATE WORKS SET premiere_date = '2008' WHERE id = 21346; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 22971; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 23214; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 20512; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 8661; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22117; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 21940; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 21357; COMMIT;
UPDATE WORKS SET premiere_date = '1956' WHERE id = 624; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 22736; COMMIT;
UPDATE WORKS SET premiere_date = '1984' WHERE id = 17021; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 10282; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 21921; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22641; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 3794; COMMIT;
UPDATE WORKS SET premiere_date = '1916' WHERE id = 22823; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 23077; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22988; COMMIT;
UPDATE WORKS SET premiere_date = '1751' WHERE id = 2899; COMMIT;
UPDATE WORKS SET premiere_date = '1790' WHERE id = 233; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22356; COMMIT;
UPDATE WORKS SET premiere_date = '1972' WHERE id = 3136; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 17079; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 21916; COMMIT;
UPDATE WORKS SET premiere_date = '1820' WHERE id = 23223; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 23198; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 21255; COMMIT;
UPDATE WORKS SET premiere_date = '1983' WHERE id = 20610; COMMIT;
UPDATE WORKS SET premiere_date = '1781' WHERE id = 3448; COMMIT;
UPDATE WORKS SET premiere_date = '1975' WHERE id = 8738; COMMIT;
UPDATE WORKS SET premiere_date = '1861' WHERE id = 17122; COMMIT;
UPDATE WORKS SET premiere_date = '1974' WHERE id = 17125; COMMIT;
UPDATE WORKS SET premiere_date = '1978' WHERE id = 8745; COMMIT;
UPDATE WORKS SET premiere_date = '2005' WHERE id = 8746; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 20619; COMMIT;
UPDATE WORKS SET premiere_date = '1968' WHERE id = 17151; COMMIT;
UPDATE WORKS SET premiere_date = '1910' WHERE id = 17154; COMMIT;
UPDATE WORKS SET premiere_date = '1956' WHERE id = 939; COMMIT;
UPDATE WORKS SET premiere_date = '1966' WHERE id = 1945; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 22063; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 22787; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 17177; COMMIT;
UPDATE WORKS SET premiere_date = '1898' WHERE id = 8785; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 1115; COMMIT;
UPDATE WORKS SET premiere_date = '1928' WHERE id = 8792; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 17190; COMMIT;
UPDATE WORKS SET premiere_date = '1897' WHERE id = 17192; COMMIT;
UPDATE WORKS SET premiere_date = '1920' WHERE id = 3402; COMMIT;
UPDATE WORKS SET premiere_date = '2005' WHERE id = 8807; COMMIT;
UPDATE WORKS SET premiere_date = '1990' WHERE id = 17215; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 22452; COMMIT;
UPDATE WORKS SET premiere_date = '1954' WHERE id = 1512; COMMIT;
UPDATE WORKS SET premiere_date = '1843' WHERE id = 8827; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22967; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 17245; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 23154; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 8832; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 21563; COMMIT;
UPDATE WORKS SET premiere_date = '1974' WHERE id = 2021; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 3403; COMMIT;
UPDATE WORKS SET premiere_date = '1749' WHERE id = 8887; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 17325; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 8891; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 21571; COMMIT;
UPDATE WORKS SET premiere_date = '1931' WHERE id = 10286; COMMIT;
UPDATE WORKS SET premiere_date = '1738' WHERE id = 8913; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22451; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22522; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 20741; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22226; COMMIT;
3250
UPDATE WORKS SET premiere_date = '1729' WHERE id = 8924; COMMIT;
UPDATE WORKS SET premiere_date = '1772' WHERE id = 3642; COMMIT;
UPDATE WORKS SET premiere_date = '1923' WHERE id = 17375; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23005; COMMIT;
UPDATE WORKS SET premiere_date = '1937' WHERE id = 17388; COMMIT;
UPDATE WORKS SET premiere_date = '1937' WHERE id = 2755; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 22010; COMMIT;
UPDATE WORKS SET premiere_date = '1994' WHERE id = 8960; COMMIT;
UPDATE WORKS SET premiere_date = '1844' WHERE id = 2832; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 3278; COMMIT;
UPDATE WORKS SET premiere_date = '1983' WHERE id = 20793; COMMIT;

UPDATE WORKS SET premiere_date = '1863' WHERE id = 3890; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 21960; COMMIT;
UPDATE WORKS SET premiere_date = '1939' WHERE id = 940; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22458; COMMIT;
UPDATE WORKS SET premiere_date = '2002' WHERE id = 22164; COMMIT;
UPDATE WORKS SET premiere_date = '1900' WHERE id = 23259; COMMIT;
UPDATE WORKS SET premiere_date = '1953' WHERE id = 2792; COMMIT;
UPDATE WORKS SET premiere_date = '1879' WHERE id = 9018; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 9022; COMMIT;
UPDATE WORKS SET premiere_date = '1978' WHERE id = 9023; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 9024; COMMIT;
UPDATE WORKS SET premiere_date = '1953' WHERE id = 2663; COMMIT;
UPDATE WORKS SET premiere_date = '1999' WHERE id = 9029; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 17494; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 17495; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 22415; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 22628; COMMIT;
UPDATE WORKS SET premiere_date = '1983' WHERE id = 1946; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 20831; COMMIT;
UPDATE WORKS SET premiere_date = '1968' WHERE id = 1513; COMMIT;
UPDATE WORKS SET premiere_date = '1935' WHERE id = 3404; COMMIT;
UPDATE WORKS SET premiere_date = '1782' WHERE id = 9083; COMMIT;
UPDATE WORKS SET premiere_date = '1776' WHERE id = 17549; COMMIT;
UPDATE WORKS SET premiere_date = '1911' WHERE id = 17569; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 9111; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 98; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 17584; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23080; COMMIT;
UPDATE WORKS SET premiere_date = '1962' WHERE id = 9135; COMMIT;
UPDATE WORKS SET premiere_date = '1961' WHERE id = 20875; COMMIT;
UPDATE WORKS SET premiere_date = '1997' WHERE id = 23297; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 21605; COMMIT;
UPDATE WORKS SET premiere_date = '1861' WHERE id = 17637; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 23074; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 20902; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 17643; COMMIT;
UPDATE WORKS SET premiere_date = '1954' WHERE id = 17649; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 9164; COMMIT;
UPDATE WORKS SET premiere_date = '1981' WHERE id = 21607; COMMIT;
UPDATE WORKS SET premiere_date = '1947' WHERE id = 20912; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 2364; COMMIT;
UPDATE WORKS SET premiere_date = '1962' WHERE id = 23089; COMMIT;
UPDATE WORKS SET premiere_date = '1953' WHERE id = 2756; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 21972; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 22632; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22248; COMMIT;
UPDATE WORKS SET premiere_date = '2003' WHERE id = 20954; COMMIT;
UPDATE WORKS SET premiere_date = '1961' WHERE id = 17699; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 9193; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22646; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 17709; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22669; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 20974; COMMIT;
UPDATE WORKS SET premiere_date = '2004' WHERE id = 1953; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 22387; COMMIT;
UPDATE WORKS SET premiere_date = '1973' WHERE id = 23147; COMMIT;
UPDATE WORKS SET premiere_date = '1927' WHERE id = 17729; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 9215; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22904; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 23260; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22348; COMMIT;
UPDATE WORKS SET premiere_date = '1984' WHERE id = 21041; COMMIT;
UPDATE WORKS SET premiere_date = '2004' WHERE id = 21044; COMMIT;
UPDATE WORKS SET premiere_date = '1862' WHERE id = 17763; COMMIT;
UPDATE WORKS SET premiere_date = '1974' WHERE id = 21046; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22877; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23101; COMMIT;
3500
UPDATE WORKS SET premiere_date = '1985' WHERE id = 17766; COMMIT;
UPDATE WORKS SET premiere_date = '1988' WHERE id = 3432; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22691; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 17776; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 22532; COMMIT;
UPDATE WORKS SET premiere_date = '1952' WHERE id = 21052; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22589; COMMIT;
UPDATE WORKS SET premiere_date = '1977' WHERE id = 1374; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 3798; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 21107; COMMIT;
UPDATE WORKS SET premiere_date = '1916' WHERE id = 9255; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22019; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 23011; COMMIT;
UPDATE WORKS SET premiere_date = '1997' WHERE id = 3169; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 22631; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 1956; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 22922; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 21117; COMMIT;
UPDATE WORKS SET premiere_date = '1900' WHERE id = 9291; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 23250; COMMIT;
UPDATE WORKS SET premiere_date = '1793' WHERE id = 9296; COMMIT;
UPDATE WORKS SET premiere_date = '1920' WHERE id = 671; COMMIT;
UPDATE WORKS SET premiere_date = '1891' WHERE id = 9300; COMMIT;
UPDATE WORKS SET premiere_date = '1956' WHERE id = 21140; COMMIT;
UPDATE WORKS SET premiere_date = '1928' WHERE id = 3549; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22457; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 20514; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23057; COMMIT;
UPDATE WORKS SET premiere_date = '1965' WHERE id = 21666; COMMIT;
UPDATE WORKS SET premiere_date = '1973' WHERE id = 9306; COMMIT;
UPDATE WORKS SET premiere_date = '2004' WHERE id = 21164; COMMIT;
UPDATE WORKS SET premiere_date = '1990' WHERE id = 22301; COMMIT;
UPDATE WORKS SET premiere_date = '1962' WHERE id = 3433; COMMIT;
UPDATE WORKS SET premiere_date = '1838' WHERE id = 17886; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 22712; COMMIT;
UPDATE WORKS SET premiere_date = '1961' WHERE id = 21207; COMMIT;
UPDATE WORKS SET premiere_date = '1974' WHERE id = 21684; COMMIT;
UPDATE WORKS SET premiere_date = '1982' WHERE id = 3161; COMMIT;
UPDATE WORKS SET premiere_date = '2004' WHERE id = 21761; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22985; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 2674; COMMIT;
UPDATE WORKS SET premiere_date = '1928' WHERE id = 3263; COMMIT;
UPDATE WORKS SET premiere_date = '1911' WHERE id = 17911; COMMIT;
UPDATE WORKS SET premiere_date = '2003' WHERE id = 22146; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 21217; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 22424; COMMIT;
UPDATE WORKS SET premiere_date = '1982' WHERE id = 20620; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 21219; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 21220; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22087; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 21980; COMMIT;
UPDATE WORKS SET premiere_date = '1999' WHERE id = 21259; COMMIT;
UPDATE WORKS SET premiere_date = '1889' WHERE id = 17944; COMMIT;
UPDATE WORKS SET premiere_date = '1770' WHERE id = 21797; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22577; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 22746; COMMIT;
UPDATE WORKS SET premiere_date = '1857' WHERE id = 2830; COMMIT;
UPDATE WORKS SET premiere_date = '1899' WHERE id = 17961; COMMIT;

UPDATE WORKS SET premiere_date = '2015' WHERE id = 22490; COMMIT;
UPDATE WORKS SET premiere_date = '1911' WHERE id = 17964; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 9384; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22857; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 17975; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22710; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 737; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 855; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 22753; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 21411; COMMIT;
UPDATE WORKS SET premiere_date = '1966' WHERE id = 21372; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 17999; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22498; COMMIT;
UPDATE WORKS SET premiere_date = '1982' WHERE id = 21374; COMMIT;
UPDATE WORKS SET premiere_date = '1894' WHERE id = 18001; COMMIT;
UPDATE WORKS SET premiere_date = '1791' WHERE id = 18003; COMMIT;
UPDATE WORKS SET premiere_date = '2000' WHERE id = 18006; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 9419; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22434; COMMIT;
UPDATE WORKS SET premiere_date = '1970' WHERE id = 2014; COMMIT;
UPDATE WORKS SET premiere_date = '1912' WHERE id = 18046; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 22668; COMMIT;
UPDATE WORKS SET premiere_date = '1982' WHERE id = 9451; COMMIT;
3750
UPDATE WORKS SET premiere_date = '1954' WHERE id = 4074; COMMIT;
UPDATE WORKS SET premiere_date = '1952' WHERE id = 21704; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22960; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 21414; COMMIT;
UPDATE WORKS SET premiere_date = '1928' WHERE id = 18076; COMMIT;
UPDATE WORKS SET premiere_date = '1928' WHERE id = 23067; COMMIT;
UPDATE WORKS SET premiere_date = '1978' WHERE id = 21708; COMMIT;
UPDATE WORKS SET premiere_date = '1954' WHERE id = 21421; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 3170; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 3163; COMMIT;
UPDATE WORKS SET premiere_date = '1972' WHERE id = 9464; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22085; COMMIT;
UPDATE WORKS SET premiere_date = '1982' WHERE id = 22485; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 23144; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 21457; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 21458; COMMIT;
UPDATE WORKS SET premiere_date = '1989' WHERE id = 9475; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22801; COMMIT;
UPDATE WORKS SET premiere_date = '1997' WHERE id = 18111; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 3164; COMMIT;
UPDATE WORKS SET premiere_date = '1962' WHERE id = 23100; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 21482; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 21483; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22693; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22618; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23052; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22539; COMMIT;
UPDATE WORKS SET premiere_date = '1905' WHERE id = 18124; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22962; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 9495; COMMIT;
UPDATE WORKS SET premiere_date = '1895' WHERE id = 3802; COMMIT;
UPDATE WORKS SET premiere_date = '1972' WHERE id = 3434; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 21759; COMMIT;
UPDATE WORKS SET premiere_date = '1989' WHERE id = 21519; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 23140; COMMIT;
UPDATE WORKS SET premiere_date = '2001' WHERE id = 9515; COMMIT;
UPDATE WORKS SET premiere_date = '1999' WHERE id = 3350; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 2618; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22287; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22571; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22694; COMMIT;
UPDATE WORKS SET premiere_date = '1976' WHERE id = 11389; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 22388; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 21896; COMMIT;
UPDATE WORKS SET premiere_date = '1902' WHERE id = 18201; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22469; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 9538; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22574; COMMIT;
UPDATE WORKS SET premiere_date = '1838' WHERE id = 2495; COMMIT;
UPDATE WORKS SET premiere_date = '1994' WHERE id = 3045; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22896; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 19509; COMMIT;
UPDATE WORKS SET premiere_date = '1984' WHERE id = 21441; COMMIT;
UPDATE WORKS SET premiere_date = '1984' WHERE id = 22915; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 18257; COMMIT;
UPDATE WORKS SET premiere_date = '1952' WHERE id = 21444; COMMIT;
UPDATE WORKS SET premiere_date = '1874' WHERE id = 9574; COMMIT;
UPDATE WORKS SET premiere_date = '1990' WHERE id = 9577; COMMIT;
UPDATE WORKS SET premiere_date = '1904' WHERE id = 22861; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22349; COMMIT;
UPDATE WORKS SET premiere_date = '1999' WHERE id = 21756; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23087; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 23255; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22921; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22938; COMMIT;
UPDATE WORKS SET premiere_date = '1925' WHERE id = 19511; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22009; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22737; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 23230; COMMIT;
UPDATE WORKS SET premiere_date = '1949' WHERE id = 18294; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22034; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22074; COMMIT;
UPDATE WORKS SET premiere_date = '1997' WHERE id = 22006; COMMIT;
UPDATE WORKS SET premiere_date = '1997' WHERE id = 9610; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 22423; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 9611; COMMIT;
4000
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22765; COMMIT;
UPDATE WORKS SET premiere_date = '1908' WHERE id = 10314; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23112; COMMIT;
UPDATE WORKS SET premiere_date = '1831' WHERE id = 22171; COMMIT;
UPDATE WORKS SET premiere_date = '1969' WHERE id = 3518; COMMIT;
UPDATE WORKS SET premiere_date = '1845' WHERE id = 1097; COMMIT;
UPDATE WORKS SET premiere_date = '1879' WHERE id = 1050; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 23137; COMMIT;
UPDATE WORKS SET premiere_date = '1979' WHERE id = 22868; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22566; COMMIT;
UPDATE WORKS SET premiere_date = '1806' WHERE id = 3971; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 23032; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22366; COMMIT;
UPDATE WORKS SET premiere_date = '1822' WHERE id = 18370; COMMIT;
UPDATE WORKS SET premiere_date = '1981' WHERE id = 21939; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 19132; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 11531; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22578; COMMIT;
UPDATE WORKS SET premiere_date = '1941' WHERE id = 1051; COMMIT;
UPDATE WORKS SET premiere_date = '1720' WHERE id = 1497; COMMIT;
UPDATE WORKS SET premiere_date = '1907' WHERE id = 18396; COMMIT;
UPDATE WORKS SET premiere_date = '2003' WHERE id = 9678; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22542; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 23033; COMMIT;
UPDATE WORKS SET premiere_date = '1933' WHERE id = 21945; COMMIT;
UPDATE WORKS SET premiere_date = '1805' WHERE id = 2691; COMMIT;

UPDATE WORKS SET premiere_date = '1970' WHERE id = 21772; COMMIT;
UPDATE WORKS SET premiere_date = '1786' WHERE id = 2463; COMMIT;
UPDATE WORKS SET premiere_date = '1967' WHERE id = 3535; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22465; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 21532; COMMIT;
UPDATE WORKS SET premiere_date = '1787' WHERE id = 4836; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 22552; COMMIT;
UPDATE WORKS SET premiere_date = '1969' WHERE id = 23091; COMMIT;
UPDATE WORKS SET premiere_date = '1969' WHERE id = 18442; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 23061; COMMIT;
UPDATE WORKS SET premiere_date = '1898' WHERE id = 18447; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22871; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 22316; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 23224; COMMIT;
UPDATE WORKS SET premiere_date = '1962' WHERE id = 1116; COMMIT;
UPDATE WORKS SET premiere_date = '1999' WHERE id = 22913; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 22182; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 18495; COMMIT;
UPDATE WORKS SET premiere_date = '1987' WHERE id = 18498; COMMIT;
UPDATE WORKS SET premiere_date = '1978' WHERE id = 21510; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 21511; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22297; COMMIT;
UPDATE WORKS SET premiere_date = '1989' WHERE id = 18520; COMMIT;
UPDATE WORKS SET premiere_date = '1981' WHERE id = 9761; COMMIT;
UPDATE WORKS SET premiere_date = '1993' WHERE id = 22828; COMMIT;
UPDATE WORKS SET premiere_date = '2016' WHERE id = 22760; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 23188; COMMIT;
UPDATE WORKS SET premiere_date = '1999' WHERE id = 2658; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 23037; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22936; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 1958; COMMIT;
UPDATE WORKS SET premiere_date = '1961' WHERE id = 1981; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 23262; COMMIT;
UPDATE WORKS SET premiere_date = '1963' WHERE id = 21522; COMMIT;
UPDATE WORKS SET premiere_date = '1926' WHERE id = 18573; COMMIT;
4250
UPDATE WORKS SET premiere_date = '1794' WHERE id = 18597; COMMIT;
UPDATE WORKS SET premiere_date = '1963' WHERE id = 18600; COMMIT;
UPDATE WORKS SET premiere_date = '1662' WHERE id = 18601; COMMIT;
UPDATE WORKS SET premiere_date = '1910' WHERE id = 21813; COMMIT;
UPDATE WORKS SET premiere_date = '1866' WHERE id = 18619; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 18620; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22807; COMMIT;
UPDATE WORKS SET premiere_date = '2003' WHERE id = 22016; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22165; COMMIT;
UPDATE WORKS SET premiere_date = '1910' WHERE id = 9841; COMMIT;