In [54]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [55]:
import pandas as pd
import zipfile
import os
import numpy as np
from datetime import datetime
import math

In [56]:
files = ['../../data/raw/nadac/35577-0001-Data.tsv.zip', '../../data/raw/nadac/35577-0002-Data.tsv.zip']

months_dict = {'fall':'9','summer':'7','spring':'3'}

column_names = ['CASEID', 'SOURCE', 'SEASON', 'STARTDY', 'STARTMO', 'STARTYR', 'ENDDY', 'ENDMO', 'ENDYR', 
                'COUNTRY', 'STATE', 'CITY', 'ORGNAME', 'ORGNOTES','ORGDIR', 'TITLE', 'NOTES', 'NPERFORM']

output_column_names = ['SEASON', 'STATE', 'CITY', 'ORGNAME', 'TITLE', 'NPERFORM', 'STARTDATE', 'ENDDATE']

In [57]:
def make_season(month, year):           
    if int(month) >= 9:
        next_year = str(int(year)+1)[-2:]
        season = year + '-' + next_year
    else:
        prev_year = str(int(year)-1)
        season = prev_year + '-' + year[-2:]
    return season
        
def fix_year(source_doc, year_col):
    try:
        int(year_col)        
    except:
        year_col = source_doc[-8:][0:4]
        
    return year_col

def fix_month(month_col):
    if month_col.lower() in months_dict.keys():
        month_col = months_dict[month_col.lower()]
    
    try:
        int(month_col)
    except:
        month_col = '1' 
        
    return month_col

def splitDataFrameList(df,target_column,separator):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    row_accumulator = []

    def splitListToRows(row, separator):
        split_row = str(row[target_column]).split(separator)
        for s in split_row:
            new_row = row.to_dict()
            new_row[target_column] = s
            row_accumulator.append(new_row)

    df.apply(splitListToRows, axis=1, args = (separator, ))
    new_df = pd.DataFrame(row_accumulator)
    return new_df
        
def prep_df(df):

    #clean up dates as some issues there
    df['STARTYR']=df.apply(lambda row: fix_year(row['SOURCE'], row['STARTYR']), axis=1)
    df['ENDYR']=df.apply(lambda row: fix_year(row['SOURCE'], row['ENDYR']), axis=1)    
    df['STARTMO']=df.apply(lambda row: fix_month(row['STARTMO']), axis=1)
    df['ENDMO']=df.apply(lambda row: fix_month(row['ENDMO']), axis=1)          
    
    if 'SEASON' not in df.columns:
        df['SEASON'] = df.apply(lambda row: make_season(row['STARTMO'],row['STARTYR']), axis=1)
    
    #clean up string columns and select only USA data
    us_territories = ['U.S.A', 'U.S.A.', 'PUERTO RICO', 'U.S. VIRGIN ISLANDS']    
    
    #split the double-billing into separate rows
    df = splitDataFrameList(df, 'TITLE', '&')
    df = splitDataFrameList(df, 'TITLE', '; ')
    df = splitDataFrameList(df, 'TITLE', ';')
    
    df_obj = df.select_dtypes(['object'])
    df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
    df = df[df['COUNTRY'].isin(us_territories)]   
    df = df.replace('', np.nan, regex=True)
    
    df['STARTDY'].fillna('1', inplace=True)
    df['ENDDY'].fillna('1', inplace=True)      
    df = df[column_names]
    
    mod_idx = int(df[df['CASEID'].isin([325])].index.values)
    df.at[mod_idx, 'NPERFORM'] = '1'
    mod_idx = int(df[df['CASEID'].isin([805])].index.values)
    df.at[mod_idx, 'NPERFORM'] = '22'    
    if len(df[(df['SOURCE']=='1003.pdf') & (df['CASEID']==2280)].index.values)>0:
        mod_idx = int(df[(df['SOURCE']=='1003.pdf') & (df['CASEID']==2280)].index.values)
        df.at[mod_idx, 'NPERFORM'] = '100'
        
    return df

def make_date(day, month, year):

    if month=='2' and day in ['29','30']:
        day='28'
    
    date = str(day) + '/' + str(month) + '/' + str(year)
    try:
        datetime.strptime(date, '%d/%m/%Y').date()
    except:
        None
    return datetime.strptime(date, '%d/%m/%Y').date()

In [58]:
def get_num_performances(row):
    if not pd.isna(row['NPERFORM']):
        try:
            NPERFORM = int(row['NPERFORM'])
        except:
            print(row['CASEID'])
    else:
        days = (row['ENDDATE']-row['STARTDATE']).days        
        if row['STARTDATE']==row['ENDDATE']:
            NPERFORM = 1
        elif days <= 3:
            NPERFORM = days
        elif days <=30:
            NPERFORM = min([math.ceil(days/2.),10])
        elif days <=60:
            NPERFORM = min([math.ceil(days/4.),15])
        elif days >60:
            NPERFORM = 15
            
    return NPERFORM

def fix_state(row):
    state=''
    if row['COUNTRY']=='PUERTO RICO':
        state='PUERTO RICO'
    if row['COUNTRY']=='U.S. VIRGIN ISLANDS':
        state='U.S. VIRGIN ISLANDS'
    elif row['STATE']=='C.A., A.Z., N.V., O.R.':
        state='CALIFORNIA'
    elif pd.isna(row['STATE']):
        state='NEW YORK CITY'
    else:
        state=row['STATE']
    return state

def fix_title(title):
    unwanted_text =['(opening) ', '*', '(ballet)']
    
    for item in unwanted_text:
        title = title.replace(item, "")

    if title=='':
        title='Unknown'
    
    return title

In [59]:
for idx,file in enumerate(files):
    zip_ref = zipfile.ZipFile(file, 'r')    
    zip_ref.extractall('../../data/raw/nadac/')
    filename = file.split('/')[-1][:-4]
    if idx==0:
        df_tmp_0 = pd.read_csv('../../data/raw/nadac/' + filename, sep='\t', encoding="mac_roman")
        df_tmp_0 = prep_df(df_tmp_0)
    else:
        df_tmp_1 = pd.read_csv('../../data/raw/nadac/' + filename, sep='\t', encoding="mac_roman")                        
        df_tmp_1 = prep_df(df_tmp_1)        
        df       = pd.concat([df_tmp_0, df_tmp_1])       

    os.remove('../../data/raw/nadac/' + filename)
os.rmdir('../../data/raw/nadac/' + '__MACOSX')

df['STARTDATE'] = df.apply(lambda row: make_date(row['STARTDY'],row['STARTMO'],row['STARTYR']), axis=1)
df['ENDDATE'] = df.apply(lambda row: make_date(row['ENDDY'],row['ENDMO'],row['ENDYR']), axis=1)
df['NPERFORM'] = df.apply(lambda row: get_num_performances(row), axis=1)
df['STATE'] = df.apply(lambda row: fix_state(row), axis=1)
df['TITLE'] = df.apply(lambda row: fix_title(str(row['TITLE'])), axis=1)
df = df[output_column_names]
# df = df.sort_values(['TITLE'])



def correct_performances(row):
    if bool(re.search('\d+ pfs', row['TITLE'])):
        performances = re.search('\d+ pfs', row['TITLE']).group(0)
        performances = performances.replace(' pfs', '')   
        
    else:
        performances = str(row['NPERFORM'])
    return performances

def clean_title(title):
    unwanted_text = ['incl.', 'Scenes from', 'Eng.', 'tour']
    for text in unwanted_text:
        title = title.replace(text, '')
        title = title.strip()
    return title
        
    
df['NPERFORM'] = df.apply(lambda row: correct_performances(row), axis=1)
df['TITLE'] = df.apply(lambda row: clean_title(row['TITLE']), axis=1)

In [53]:
# len(list(df['TITLE'].unique()))
df.to_csv('../../data/processed/listings/nadac_2.csv')

In [1]:
import pandas as pd
df = pd.read_csv('../../data/processed/listings/nadac_2.csv', index_col=0)

In [47]:
# df_final[df_final['TITLE'].str.contains('pfs')]
import re
# string = 'La BohËme 10 pfs.'
# matches = re.search('\d+ pfs', string)
# bool(re.search('\d+ pfs', string))
# a = 1
# if re.compile('\d+ pfs', string):
#     a = re.search('\d+ pfs', string).group(0)
# a
    

def correct_performances(row):
    if bool(re.search('\d+ pfs', row['TITLE'])):
        performances = re.search('\d+ pfs', row['TITLE']).group(0)
        performances = performances.replace(' pfs', '')   
        
    else:
        performances = str(row['NPERFORM'])
    return performances
    
df_final['ddd'] = df_final.apply(lambda row: correct_performances(row), axis=1)

In [48]:
df_final[df_final['TITLE'].str.contains('pfs')]

,SEASON,STATE,CITY,ORGNAME,TITLE,NPERFORM,STARTDATE,ENDDATE,ddd
3428,1968-69,CALIFORNIA,NaN,Western Opera Theatre,La BohËme 18 pfs.,17,1968-01-01,1969-01-01,18
3429,1968-69,CALIFORNIA,NaN,Western Opera Theatre,Gianni Schicchi 7 pfs.,17,1968-01-01,1969-01-01,7
3430,1968-69,CALIFORNIA,NaN,Western Opera Theatre,CosÏ fan tutte 16 pfs.,17,1968-01-01,1969-01-01,16
3431,1968-69,CALIFORNIA,NaN,Western Opera Theatre,The Old Maid and the Thief 13 pfs.,17,1968-01-01,1969-01-01,13
3432,1968-69,CALIFORNIA,NaN,Western Opera Theatre,The Medium 3 pfs.,17,1968-01-01,1969-01-01,3
3805,1984-85,CALIFORNIA,Fresno,Sierra Chamber Opera,75 pfs.,20,1984-01-01,1985-01-01,75
3862,1988-89,CALIFORNIA,Fresno,Sierra Chamber Opera,Rea's The Wizard's Ring 160 pfs.,20,1988-01-01,1989-01-01,160
4963,SUMMER 1984,CALIFORNIA,Los Angeles,Olympic Arts Festival,3 pfs.,4,1984-07-09,1984-07-21,3
4967,SUMMER 1984,CALIFORNIA,Los Angeles,Olympic Arts Festival,4 pfs.,4,1984-07-09,1984-07-21,4
5955,1979-80,CALIFORNIA,San Diego,San Diego Opera,40 pfs. (The Telephone,15,1979-01-01,1980-01-01,40
6731,1979-80,CALIFORNIA,San Francisco,Western Opera Theatre,La Traviata 27 pfs.,15,1980-02-01,1980-05-01,27
6732,1979-80,CALIFORNIA,San Francisco,Western Opera Theatre,Die Fledermaus 23 pfs.,15,1980-02-01,1980-05-01,23
6851,1988-89,CALIFORNIA,San Jose,Opera San Jose,60 pfs.,30,1989-01-31,1989-06-01,60
6852,1988-89,CALIFORNIA,San Jose,Opera San Jose,The Face on the Barroom Floor abt. 30 pfs,30,1989-01-31,1989-06-01,30
8507,1970-71,CALIFORNIA,NaN,Western Opera Theatre,"La Cenerentola, Elixir of Love, Spanish Hour, ...",15,1970-11-09,1971-05-09,15
9976,1978-79,DELAWARE,Wilmington,Minikin Opera Co.,The Boor 8 pfs.,6,1978-01-01,1979-01-01,8
9977,1978-79,DELAWARE,Wilmington,Minikin Opera Co.,The Perfect Wife 6 pfs.,6,1978-01-01,1979-01-01,6
10582,1980-81,DISTRICT OF COLUMBIA,NaN,"Imagination Celebration, Terrace Theatre","Starbird prod: Texas Opera Theatre, 4 pfs.",1,1981-04-19,1981-04-20,4
10925,1980-81,FLORIDA,Jacksonville,Opera Company of Jacksonville,Hansel and Gretel 12 pfs.,11,1980-01-01,1981-01-01,12
10988,1980-81,FLORIDA,Jacksonville,"Opera-a-la-Carte, Opera-on-Wheels Inc.",The Telephone 5 pfs. w.p.,2,1980-01-01,1981-01-01,5
10989,1980-81,FLORIDA,Jacksonville,"Opera-a-la-Carte, Opera-on-Wheels Inc.","Rita Eng. Mead, 3 pfs. w.p.",2,1980-01-01,1981-01-01,3
12006,1978-79,FLORIDA,NaN,Opera-a-la-Carte,Rita Eng. Mead 14 pfs.,22,1978-01-01,1979-01-01,14
12007,1978-79,FLORIDA,NaN,Opera-a-la-Carte,Gallantry 6 pfs.,22,1978-01-01,1979-01-01,6
15156,1968-69,KANSAS,Lawrence,University of Kansas Opera Theatre,Kay Bethea's The Little Princess 12 pfs. in sc...,1,1968-11-12,1968-11-12,12
15441,1985-86,KENTUCKY,Louisville,Opera-Go-Round,Musical Revue abt. 120 pfs.,15,1985-01-01,1986-01-01,120
15791,1967-68,LOUISIANA,Lafayette,"Opera Guild, University of Southwestern La.",musical comedy 4 pfs.,1,1968-03-01,1968-03-01,4
15792,1967-68,LOUISIANA,Lafayette,"Opera Guild, University of Southwestern La.",musical comedy 4 pfs.,1,1968-07-01,1968-07-01,4
16437,1978-79,MARYLAND,Baltimore,Towson State University Opera Wksp.,Little Red Riding Hood 4 pfs. w.p.,3,1978-01-01,1978-01-01,4
17042,1974-75,MASSACHUSETTS,Boston,New England Regional Opera,repertory for pfs. in schools: Little Red Ridi...,15,1974-01-01,1975-01-01,15
17451,1970-71,MASSACHUSETTS,Falmouth,"The College Light Opera Co., Highfield Theatre","Wienerblut Eng. Tull, 5 pfs.",1,1971-07-01,1971-07-01,5
...,...,...,...,...,...,...,...,...,...
28370,1986-87,NEW YORK CITY,NaN,American Chamber Opera,3 pfs. tba Shields' Shaman prem.,2,1986-10-30,1986-11-01,3
28817,1983-84,NEW YORK CITY,NaN,Broque Opera,Jack and the Beanstalk 10 pfs.,50,1983-09-01,1984-05-01,10
29225,1978-79,NEW YORK CITY,NaN,Eastern Opera Theatre of New York,Don Pasquale 5 pfs.,3,1978-01-01,1979-01-01,5
29226,1978-79,NEW YORK CITY,NaN,Eastern Opera Theatre of New York,La Traviata 6 pfs.,3,1978-01-01,1979-01-01,6
29227,1978-79,NEW YORK CITY,NaN,Eastern Opera Theatre of New York,The Marriage of Figaro 9 pfs.,3,1978-01-01,1979-01-01,9
29228,1978-79,NEW YORK CITY,NaN,Eastern Opera Theatre of New York,El Capitan 2 pfs.,3,1978-01-01,1979-01-01,2
29230,1979-80,NEW YORK CITY,NaN,Eastern Opera Theatre of New York,La Traviata 9 pfs.,2,1979-01-01,1980-01-01,9
29231,1979-80,NEW YORK CITY,NaN,Eastern Opera Theatre of New York,Madama Butterfly 6 pfs.,2,1979-01-01,1980-01-01,6
29272,1979-80,NEW YORK CITY,NaN,Encompass Theatre,Four Note Opera 5 pfs.,2,1979-01-01,1980-01-01,5
29273,1979-80,NEW YORK CITY,NaN,Encompass Theatre,4 pfs.,2,1979-01-01,1980-01-01,4
31214,SUMMER 1969,NEW YORK CITY,NaN,New York Philharmonic,12 pfs. of 3 programs,10,1969-07-29,1969-08-22,12
31843,1987-88,NEW YORK CITY,NaN,Repertorio Espanol,LiÈo's La Corte de FaraÛn 2 pfs.,3,1987-10-17,1987-12-06,2
31844,1987-88,NEW YORK CITY,NaN,Repertorio Espanol,"Habaf?a, Antologia Musical 2 pfs",3,1987-10-17,1987-12-06,2
31846,1987-88,NEW YORK CITY,NaN,Repertorio Espanol,3 pfs. and tour,3,1987-10-17,1987-12-06,3
32424,1969-70,NEW YORK CITY,NaN,Turnau Opera Players,"La Traviata (6 pfs.), CosÏ fan tutte (4 pfs.),...",10,1970-01-16,1970-02-15,6
33220,1970-71,NORTH CAROLINA,Raleigh,National Opera Co.,The Marriage of Figaro 29 pfs. Die Fledermaus ...,15,1971-01-25,1971-05-14,29
33240,1978-79,NORTH CAROLINA,Raleigh,National Opera Co.,85 pfs.,15,1978-01-01,1979-01-01,85
33439,1983-84,NORTH CAROLINA,NaN,North Carolina Opera,The Daughter of the Regiment 16 pfs.,15,1983-01-01,1984-01-01,16
33441,1984-85,NORTH CAROLINA,NaN,North Carolina Opera,50 pfs.,40,1984-01-01,1985-01-01,50
34002,1985-86,OHIO,Cleveland,Cleveland Opera,Little Red Riding Hood 30 pfs.,8,1985-10-01,1985-11-01,30
34957,1968-69,OHIO,NaN,The University of Akron Opera Workshop,The Marriage of Figaro 2 pfs.,1,1969-03-01,1969-03-01,2
35037,1985-86,OHIO,NaN,ECCO! of the Cincinnati Opera,"Hansel and Gretel abrid., Eng., 19 pfs.",15,1985-01-01,1986-01-01,19
39753,1969-70,TEXAS,Houston,Houston Grand Opera,"The Tales of Hoffmann 12 studt. mat., 3 out-of...",3,1970-05-05,1970-05-10,3
39791,1986-87,TEXAS,Houston,Texas Opera Theatre,community and in-school pfs.: Starbird,15,1986-09-01,1987-05-01,15
40244,1979-80,TEXAS,NaN,Houston Grand Opera Spring Festival,Die Fledermaus 6 pfs.,6,1980-06-13,1980-06-28,6
40537,1980-81,TEXAS,NaN,Southwestern Opera Theatre,The Goose Girl 30 pfs.,15,1980-01-01,1981-01-01,30
40800,1966-67,UTAH,Salt Lake City,University of Utah Opera Co.,The Impresario 16 pfs. (see also 9/66 Blltn.),8,1967-01-01,1967-02-01,16
41959,1984-85,WASHINGTON,Seattle,Seattle Civic Light Opera,Gypsy 12 pfs.,12,1984-01-01,1985-01-01,12
41960,1984-85,WASHINGTON,Seattle,Seattle Civic Light Opera,Finian's Rainbow 12 pfs.,12,1984-01-01,1985-01-01,12
42111,1966-67,WASHINGTON,NaN,Seattle Opera,Down in the Valley 6 pfs. under President's Co...,1,1967-08-01,1967-08-01,6