In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../operabase_combined.xlsx', sheet_name='data')

In [4]:
df = pd.read_excel('../operabase_combined.xlsx', sheet_name='data')

,country,city,theatre,work,date,year,season,country.1,city.1,theatre.1
0,Austria,Baden bei Wien,Stadttheater Baden,Faust,20111023,2011,2011/2012,Austria,Baden bei Wien,Stadttheater Baden
1,Austria,Baden bei Wien,Stadttheater Baden,Faust,20111025,2011,2011/2012,Austria,Baden bei Wien,Stadttheater Baden
2,Austria,Baden bei Wien,Stadttheater Baden,Faust,20111027,2011,2011/2012,Austria,Baden bei Wien,Stadttheater Baden
3,Austria,Baden bei Wien,Stadttheater Baden,Faust,20111029,2011,2011/2012,Austria,Baden bei Wien,Stadttheater Baden
4,Austria,Baden bei Wien,Stadttheater Baden,Faust,20111030,2011,2011/2012,Austria,Baden bei Wien,Stadttheater Baden

In [19]:
df_1 = df.drop_duplicates()
df_1.shape

(133974, 10)

In [20]:
df.shape

(137705, 10)